/*==========
variable css start
==============*/
:root {
    --ff1: 'Nunito';
    --ff2: 'Segoe UI Regular'; 
    --ff3: 'Segoe UI Bold'; }
  
  /*==========
  variable css end
  ==============*/
.section_one{
    background-color: #06032b02 !important;
    padding: 0px 0px;
  z-index: 99 !important;
}
.section_one .navbar{
    border-bottom: 1px solid rgba(45, 6, 153, 0.185);
    background-color: #11111173;
}
.section_one .navbar-nav .nav-item .btn{
    color: #ddd8d8c9;
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;  
}
.section_one .navbar-nav .nav-item  .dropdown-menu{
    padding: 5px !important;
    --bs-dropdown-min-width: 6rem !important;
    width: 100px !important;
    background-color: #130632 !important;
}
.section_one .navbar-nav .nav-item  .dropdown-menu li a{
    color: #ddd8d8cc;
    font-style: normal;
    font-weight: 700;
    font-size: 12px !important;  
    
    font-family: var(--ff1);
}
.section_one .navbar-nav .nav-item .nav-link{
color: #ddd8d8;
font-style: normal;
font-weight: 700;
font-size: 14px !important;
line-height: 18px;

font-family: var(--ff1);
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 2.4px;
margin-right: 20px;

}
.section_one .navbar-nav .nav-item .margin_left{
    margin-right: 50px !important;
}
.section_one .navbar-nav .nav-item .num_btn{
    background-color: rgb(35, 20, 201);
    border-radius: 5px;
    padding: 15px 21px;
    text-decoration: none;
    color: rgb(221, 216, 216);
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    font-size: 14px !important;
    
    font-family: var(--ff1);

}



.section_two{
    z-index: -1;

    
    
    top: -87px;
}
.section_two .img{
    position: absolute;
    top: 0;
    z-index: -9;
    width: 100%;
}
.section_two .img img{
    height: 680px;
    width: 100%;
}
.section_two .details h1{
    font-style: normal;
font-weight: 700;
font-size: 55px;
padding-top: 170px;

font-family: var(--ff1);
color: #FDFDFD;
}
.section_two .details h2{
    font-style: normal;
font-weight: 600;
font-size: 18px;
padding-top: 20px;

font-family: var(--ff1);
color: #FDFDFD;
}

.section_two .details a{
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    width: 190px;
    margin-top: 30px;
    font-family: var(--ff1);
}

.section_three{
    margin-top: 150px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(1, 0, 12) 0%, rgba(3, 17, 65, 0.973) 45%, rgb(1, 0, 15) 99%);
    
}
.section_three .heading h2{
    text-align: center;
    font-size: 35px;
    color: rgb(189, 181, 181);
    font-weight: 600;
    margin-top: 100px;
    padding-top: 30px;
    font-family: var(--ff1);
}
.section_three .content  h2{
    text-align: center;
    font-size: 23px;
    font-weight: normal;
    color: rgb(190, 190, 190);
    margin-top: 30px;
    font-family: var(--ff1);
}


.section_three .content  p{
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: rgb(190, 190, 190);
    margin-top: 10px;
    font-family: var(--ff1);
}

.section_three .content h3{
    border: 2px solid rgb(204, 199, 199); 
    padding: 50px;
    color: white;
    font-size: 23px;
    margin: 10px;
    border-radius: 6px;
    font-family: var(--ff1);
}
.section_three .content{
    
    padding-bottom: 100px;
}
.section_four{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(1, 0, 12) 0%, rgba(3, 17, 65, 0.973) 45%, rgb(1, 0, 15) 99%);
    padding-bottom: 50px;
    position: relative;
}
.section_four .img{
    position: absolute;
    z-index: -9;
}
.section_four .banner_slider .item .img{
    width: 16%;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.521) !important;
}
.section_four .banner_slider .item .img img{
    
    opacity: 0.2 !important;
    z-index: -9 !important;
    width: 100% !important;
}
.section_four .banner_slider .item .one{
    animation: textup 12s linear infinite;
}
.section_four .banner_slider .item .one h2{
    padding-top: 90px;
    font-family: var(--ff1);
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 48px;
color: #ddd8d8;
margin-left: 90px;

}
@keyframes textup{
    10%{
        transform: translateY(0px);
        opacity: 0;

    }
    100%{
        transform: translateY(70px);
        opacity: 1;
    }
}
.section_four .banner_slider .item .one h4{
    margin-left: 90px;
    margin-top: 30px;
    padding-right: 120px;
    font-family: var(--ff1);
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #ddd8d8;
}
.section_four .banner_slider .item .two img{
    animation: zoom 6s linear infinite;
    width: 120% !important;
}
@keyframes zoom{
    10%{
        transform: translateY(0px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        width: 90% !important;
        opacity: 1;
    }
}
.section_five {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(1, 0, 12) 0%, rgba(3, 17, 65, 0.973) 45%, rgb(1, 0, 15) 99%);
    padding-bottom: 50px;
}

.section_five .heading h2{
    text-align: center;
    font-size: 35px;
    color: rgb(189, 181, 181);
    font-weight: 600;
    padding-top: 30px;
    font-family: var(--ff1);
}

.section_five .heading p {
    text-align: center;
    font-size: 17px;
    color: rgb(189, 181, 181);
    font-weight: 500;
    padding-top: 20px;
    padding: 21px 457px;
    font-family: var(--ff1);
}
.section_five .image {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.section_five .image .img img{
    width: 130px;
}

.srction_six{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(1, 0, 12) 0%, rgba(3, 17, 65, 0.973) 45%, rgb(1, 0, 15) 99%);
    padding-bottom: 50px;
}
.srction_six .img img{
    cursor: pointer;
}
.all_device {
    background-color:#130632;
}
.all_device .heading h2{
    padding-top: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.795);
    font-size: 34px;
    font-family: var(--ff1);
}
.all_device .heading h4{
    text-align: center;
    color: rgba(255, 255, 255, 0.795);
    padding-bottom: 20px;
    font-size: 14px;
    font-family: var(--ff1);
}
.section_seven{
    background-color:#130632;
    padding-bottom: 50px;
}
.section_seven .heading h2{
    text-align: center;
    font-size: 30px;
    color: rgb(189, 181, 181);
    font-weight: 600;
    padding-top: 90px;
    margin-bottom: 30px;
    font-family: var(--ff1);
}
.section_seven .accordion {
    background-color: #130632 !important;
    border-color: #483781 !important;
}
.section_seven .accordion .accordion-item{
    background-color: #130632 !important;
    border-color: #483781 !important;
    margin:   10px 0px;
}
.section_seven .accordion .accordion-item .accordion-body{
    color: #483781 !important;
    font-family: var(--ff1);
}
.section_seven .accordion .accordion-button{
    background-color: #130632 !important;
    color: #483781 !important;
    font-family: var(--ff1);
}

.footer{
    background-color:#130632;
    padding-bottom: 20px;
}
.footer .one a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.56px;
text-transform: uppercase;
font-family: var(--ff1);
color: #FDFDFD;


}
.footer .two a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
    font-family: var(--ff1);
color: #fdfdfdb4;
padding-top: 20px;
text-align: center;
margin: auto;
display: flex;
justify-content: center;

}
.footer .three h4{
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: var(--ff1);
} 
.footer .one{
    display: flex;
    justify-content: space-around;
}